* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    background-image: linear-gradient( to right, rgba(10, 242, 126, 0.5), rgba(232, 10, 177, 0.6), rgba(195, 238, 3, 0.6));
    
}

/* common */


/* container */
.container {
    width: calc(100vw - 50px);
    max-width: 500px;
    margin: 50px auto 0;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
}
.login__logo {
    width: 40px;
    height: 40px;
    object-fit: cover;
    clip-path: circle(50%);
}
.login__title {
    font-size: 3rem;
    color: rgb(235, 16, 199);
    margin: 20px 0 10px;
}
.content {
    margin-top: 30px;
}
.login-input__group {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 10px 0;
    flex-direction: column-reverse;
}
.login-input__group input {
    display: inline-block;
    height: 3rem;
}
.login-input__group:nth-child(3){
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.login-input__group:has(:checked)::before {
position: absolute;
top: 0;
left: 0;
content: "";
width: 15px;
height: 15px;
border: 1px solid #ccc;
border-radius: 50%;
}
.login-input__group:has(:checked)::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 10px;
    height: 5px;
    border-left: 2px solid green;
    border-bottom: 2px solid green;
    transform: rotate(-45deg);
}
.login__btn  {
    display: inline-block;
    width: 100%;
    line-height: 2;
    background: orange;
    border: 2px solid red;
    border-radius: 99px;
    margin-bottom: 20px;
    cursor: pointer;
}
.login__btn:hover {
    opacity: .8;
    color: blue;
    font-weight: 500;
}
.register {
    text-align: center;
}